<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis Movie Reviews.</title>
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->
</head>
<body>
{% if text %}
    <h1>Please enter movie review text to analyze!</h1>
    <form id="treeForm" action="/" method="post">
        Review:<br>
        <textarea name="text" rows="4" cols="50"></textarea>
        <br>
        <input type="submit">
    </form>
    <h3>You entered:</h3>
    <h4><i>{{ text }}</i></h4>
    <h3>Prediction (0-4): <b>{{ label }}</b></h3>
    <h3>Sentiment tree:</h3>
    <canvas id="treeCanvas" width="800" height="800" style="border:1px solid #000000;">
    </canvas>
    <script type=text/javascript src="{{ url_for('static', filename='tree.js') }}"></script>
    <script type="text/javascript">
        draw_tree({{ tree_txt|tojson }}, 800, 800);
    </script>
    <br>
{% else %}
    <h1>Please enter movie review text to analyze!</h1>
    <form action="/" method="post">
        Review:<br>
        <textarea name="text" rows="4" cols="50"></textarea>
        <br>
        <input type="submit">
    </form>
{% endif %}
</body>
</html>